{% extends "base.html" %}

{% block content %}

<h1 class="page-title">Зворотний зв'язок</h1>

<p class="contacts-subtitle">Контакти:</p>

<ul class="contacts-list">
    <li>
        Ми будемо раді отримати ваші запити та пропозиції щодо співпраці
        на електронну пошту <a href="mailto:info@ua.mcd.com">info@ua.mcd.com</a>
    </li>
    <li>
        Якщо ви бажаєте організувати благодійний обід для дітей або маєте запитання
        до конкретного закладу, шукайте тут контакти ресторанів МакДональдз.
    </li>
</ul>

{% endblock %}
