{% extends "base.html" %}

{% block content %}

<h1 class="page-title">Новини</h1>

<div class="news-list">
    <div class="news-item">
        <h3>«Пограбування світового меню»: у «МакДональдз» в Україні з'являться популярні страви з різних куточків світу</h3>
        <a href="#" class="btn btn-primary">Детальніше</a>
    </div>
    <div class="news-item">
        <h3>«МакДональдз» відкрив десятий ресторан в Одесі — на Європейській площі</h3>
        <a href="#" class="btn btn-primary">Детальніше</a>
    </div>
    <div class="news-item">
        <h3>«МакДональдз» відновлює роботу в Миколаєві</h3>
        <a href="#" class="btn btn-primary">Детальніше</a>
    </div>
    <div class="news-item">
        <h3>1 500 нових робочих місць, +60% відгуків на вакансії та зростання зарплат: результати «МакДональдз» у 2025 році</h3>
        <a href="#" class="btn btn-primary">Детальніше</a>
    </div>
</div>

{% endblock %}
