{% extends "app/layout.html" %}

{% block content %}

<h1 class="text-center"><b>Зворотний зв'язок</b></h1>

<h3>Контакти:</h3>
<ul>
    <li>
        <h4>Ми будемо раді отримати ваші запити та пропозиції щодо співпраці на електронну пошту <a href="mailto:info@ua.mcd.com">info@ua.mcd.com</a></h4>
    </li>
    <li>
        <h4>Якщо ви бажаєте організувати благодійний обід для дітей або маєте запитання до конкретного закладу, шукайте тут контакти ресторанів “МакДональдз”.</h4>
    </li>
</ul>

{% endblock %}
