{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Пограбування світового меню</h1>
    <p class="lead">
        Це довго тримали в секреті, 
        але настав час у всьому зізнатися… Ми викрали 
        легендарні позиції МакДональдз з усього світу 
        і привезли їх в Україну спеціально для тебе. 
        Встигни спробувати, доки ми їх не повернули! 
    </p>
    <p><a href="#" class="btn btn-primary btn-large">Детальніше</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Нове НайсПрайс Комбо!</h2>
        <p>
            Вигідне тріо з бургера або Чікен МакНагетс®,
            Картоплі Фрі та напою на вибір усього за 119
            гривень. Скоріше завітай у МакДональдз і
            вибирай, що любиш, із НайсПрайс Комбо!
        </p>
        <p><a class="btn btn-default" href="#">Детальніше</a></p>
    </div>
    <div class="col-md-4">
        <h2>Працюй в МакДональдз</h2>
        <p>
            У МакДональдз важливо не лише те, що ти робиш, 
            а й те, з ким працюєш. Переглянь вакансії та 
            приєднуйся до команди, яка підтримує й надихає.
        </p>
        <p><a class="btn btn-default" href="#">Детальніше</a></p>
    </div>
    <div class="col-md-4">
        <h2>Справді смачна кава!</h2>
        <p>
            Якщо й існує справді смачна кава, 
            то в “МакДональдз”. Заходь і смакуй 
            улюблену 100% арабіку в жовтому стаканчику. 
            Залишиться лише вибрати: велика чи маленька.
        </p>
        <p><a class="btn btn-default" href="#">Детальніше</a></p>
    </div>
</div>

{% endblock %}
