{% extends "app/layout.html" %}

{% block content %}

<h1 class="text-center"><b>Кар’єра в “МакДональдз”</b></h1>

<h3>
    Хочеш працювати в компанії, де кожен день сповнений 
    новими можливостями? “МакДональдз”— це не просто місце,
    де можна смачно поїсти, а й команда людей, що створює 
    незабутні враження для клієнтів і знаходить друзів 
    серед колег.
</h3>

<h3>Що ми пропонуємо:</h3>
<ul>
    <li>
        <h4><b>Гнучкий графік:</b> Працюй тоді, коли тобі зручно! Навчання, хобі, відпочинок — у тебе завжди буде час на те, що важливо.</h4>
    </li>
    <li>
        <h4><b>Підтримку та турботу:</b> Окрім стабільної зарплати, ти отримаєш доступ до психологічної підтримки, можливість підключити медичне страхування та багато іншого.</h4>
    </li>
    <li>
        <h4><b>Дружню атмосферу:</b> Тут колеги швидко стають друзями. Разом вирішуємо робочі завдання, а після роботи — весело проводимо час.</h4>
    </li>
    <li>
        <h4><b>Навчання та розвиток:</b> У “МакДональдз” ти зможеш розвиватися й зростати. Ми пропонуємо курси, тренінги та багато можливостей для саморозвитку.</h4>
    </li>
    <li>
        <h4><b>Швидке кар'єрне зростання:</b> 99% наших директорів ресторанів починали свій шлях із посади працівника. І ти теж можеш досягти такого успіху!</h4>
    </li>
</ul>

{% endblock %}
