{% extends "app/layout.html" %}

{% block content %}

<h1 class="text-center"><b>Новини</b></h1>

<div class="panel panel-warning">
    <div class="panel-body">
        <h3>
            <b>
                «Пограбування світового меню»: у «МакДональдз» в <br />
                Україні зʼявляться популярні страви з різних куточків світу
            </b>
        </h3>
        <h4><a href="#"><u>Детальніше</u></a></h4>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-body">
        <h3>
            <b>
                «МакДональдз» відкрив десятий ресторан в Одесі — <br />
                на Європейській площі
            </b>
        </h3>
        <h4><a href="#"><u>Детальніше</u></a></h4>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-body">
        <h3>
            <b>
                «МакДональдз» відновлює роботу в Миколаєві
            </b>
        </h3>
        <h4><a href="#"><u>Детальніше</u></a></h4>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-body">
        <h3>
            <b>
                1 500 нових робочих місць, +60% відгуків на вакансії та <br />
                зростання зарплат: результати «МакДональдз» у 2025 <br />
                році
            </b>
        </h3>
        <h4><a href="#"><u>Детальніше</u></a></h4>
    </div>
</div>

{% endblock %}
